eth/node_modules
eth/.env
eth/coverage
eth/coverage.json
eth/typechain
eth/cache
eth/artifacts
client/node_modules
client/.next
dist/
eth/dist/
client/dist/
client/pages/dist/
client/components/dist/
client/utils/dist/




